# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment / secrets
.env

# Jupyter
.ipynb_checkpoints/

# Testing / cache
.pytest_cache/

# Streamlit local config
.streamlit/

# Temporary files
*.tmp

# Runtime database
models/*.db